body {
    margin-top: 50px;
    margin-left: 33%;
    margin-right: 33%;
    font-family: 'Architects Daughter';
    font-size: 22px;
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
    display:block;
}

div {
    padding: 10px;
}

.foto {
    width: 33%;
}

.foto img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    border: 10px solid white;
}

.info {
    background-color: rgb(53, 47, 47,0.8);
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
}

.cta {
    width: 33%;
    float: right;
}

#button {
    width: fit-content;
    height: auto;
    border: 2px solid white;
    border-radius: 50px;
    font-family: 'Architects Daughter';
    font-size: 22px;
    background-color: rgb(211, 35, 35);
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}



/*
.item1 {grid-area:foto;}
.item2 {grid-area:info;}
.item3 {grid-area:cta;}

.grid-container {
    display: grid;
    grid-template-areas:
    'foto foto foto foto'
    'info info info info'
    'cta cta cta cta';
    grid-column-gap: 0;
    grid-row-gap: 10px;
}

.item1 {
    height: 400px;
    /*width: 25%;
    background-color:#708090;
    border-radius:100%;
    border:3px dotted #696969;
}

.item2 {
    /*width: 25%;
    height: auto;
    background-color:#708090;
    text-align: center;
    color:#D3D3D3;
}
.item3 {
    text-align: center;
}

#cta {
    width: fit-content;
    height: auto;
    border: 2px solid #F4A460;
    border-radius: 50px;
    font-size: 20px;
    background-color: #A52A2A;
    color: #F4A460;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
*/