body {
    margin-top: 50px;
    margin-left: 33%;
    margin-right: 33%;
    font-family: 'Architects Daughter';
    font-size: 22px;
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
    display:block;
}

div {
    padding: 10px;
}

.foto {
    width: 33%;
}

.foto img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    border: 10px solid white;
}

.info {
    background-color: rgb(53, 47, 47,0.8);
    color: white;
    text-align: center;
    border: 2px solid white;
    border-radius: 25px;
}

.cta {
    width: 33%;
    float: right;
}

#button {
    width: fit-content;
    height: auto;
    filter: opacity(90%);
    border: 2px solid white;
    border-radius: 50px;
    font-family: 'Architects Daughter';
    font-size: 22px;
    background-color: rgb(211, 35, 35);
    color: white;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#button:hover {
    filter: opacity(100%);
}